#panelTop{
    border:2px solid gray;
    position:inherit;
}

#listNavigation{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

#listNavigation li {
    display: inline;
}

#listNavigation li a{
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}

#panelRight{

}

#panelLeft{

}

#panelContent{

}

.navigationButton {
    padding:5px 5px 5px 5px;
    background-color: lightblue;
    border: 1px solid blue;
    color:#000;
    text-decoration:none;
}

.navigationButton:hover{
    background-color: red;
}

#page {
    background-image: url("../pictures/page_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 996px; margin: 0 auto; padding: 10px;
}

#text{
    font-family:Times;
    color:#2a2828;
}

#buttonRegister{

}
