#panelTop{
    border:2px solid gray;
    position:inherit;
}

#listNavigation{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

#listNavigation li {
    display: inline;
}

#listNavigation li a{
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}

#panelRight{
	text-align: ;
	color: black;
	margin-top: 16px;
	float: right;
	padding: 14px;
	background-color: blue;
	background-image: ;
	width: 178px;/* this should be a fixed width throughout this project*/
	height: 500px;/* this should be a fixed height throughout this project*/
}

#panelLeft{
	text-align: ;
	color: black;
	margin-top: 16px;
	float: left;
	padding: 14px;
	background-color: blue;
	background-image: ;
	width: 178px;/* this should be a fixed width throughout this project*/
	height: 500px;/* this should be a fixed height throughout this project*/

}

#panelContent{
	padding-left: 190px;
	padding-right: 190px;
	margin-top: 16px;
	

}
#panelContent #slider ul li{
	display: inline;
	text-decoration: none;
	color: ;
}
#panelContent #slider a{
	text-decoration: none;
	color: yellow;
}


#panelContent #slider .prev{
	color: white;
	padding-left: 25px;
	padding-right: 12px;
	left: 13px;
	background: url(../prev.jpg no repeat);/* the jpg is meant to indicate the extension; 
the extension should reflect the file type	*/

}

#panelContent #slider .next{
	color: white;
	float: right;
	padding-right: 45px;
	padding-left: 25px;
	right: 13px;
	background: url(../next.jpg no repeat);/* the jpg is meant to indicate the extension; 
the extension should reflect the file type	*/
}

.navigationButton {
    padding:5px 5px 5px 5px;
    background-color: lightblue;
    border: 1px solid blue;
    color:#000;
    text-decoration:none;
}

.navigationButton:hover{
    background-color: red;
}

#page {
    background-image: url("../pictures/page_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 996px; 
	margin: 0 auto; 
	padding: 10px;
}

#text{
    font-family:Times;
    color:#2a2828;
}

#buttonRegister{

}
